body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #BBD4CE;
}

body {
  margin: 0;
  font-family: Georgia, serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9EB6B1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar .hamburger-menu {
  font-size: 30px;
  cursor: pointer;
  color: #679186;
  padding: 15px;
  position: fixed;
  top: 40px;
  left: 20px;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  padding: 15px;
  color: white;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #9EB6B1;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*top section */
h1 {
  font-size: 4.5em; /* Adjust the size as needed */
  font-family: Georgia, serif;
  color: #679186;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 70px;
}

.text p  {
  font-size: 1.9em; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height as needed */
  padding: 20px; /* Add padding to the text */
  margin-left: 60px;
  margin-top: 130px;
}
.project-description {
  display: flex;
  margin-bottom: 20px;
}


.image {
  flex: 1;
}

.image img {
  width: 90%; /* Adjust the width as needed */
  max-width: 100%; /* Ensure the image does not exceed its original size */
  margin-left: 20px;
  margin-bottom: 20px;
}

/*mapping of kikuhama section*/
h2 {
  font-size: 3.5em; /* Adjust the size as needed */
  font-family: Georgia, serif;
  color: #679186;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 70px;
}

.project5 {
  display: flex;
  margin-bottom: 20px;
}

.text {
  flex: 1;
  padding-right: 20px;
}

.text-description p {
  font-size: 1.6em;
  line-height: 1.5;
  padding: 100px; /* Adjust the padding to contain the text more */
  margin-bottom: 100px; /* Adjust the margin between paragraphs */
  margin-top: 30px;
  margin-left: 400px;
}

.imageOfKikuhama img {
  width: 400%; /* Adjust the width as needed */
  max-width: 400%; /* Ensure the image does not exceed its original size */
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

h3 {
  font-size: 2.0em; /* Adjust the size as needed */
  font-family: Georgia, serif;
  color: #679186;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 70px;
}




